# The node modules, which are completely determinded by the package.json
node_modules/

# The output directory of the build process
BuildOutput/

# Results of unit tests
testResults/

# Visual-Studio build artefacts
obj/
bin/

# User-specific files for Visual Studio
*.suo
*.user

npm-debug.log
